#createUserButton {
    display: none;
    margin-top: 4px;
}
#createUserButton.show {
    display: block;
}
#createUserForm {
    display: none;  /* Hidden by default */
}
#createUserForm.show {
    display: block;
}
